
@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Poiret+One|Nixie+One|Julius+Sans+One|Fredericka+the+Great);

.name {
	font-size: 500%; 
	color: #666666;
	background-color: #E6E6E6;
    font-family: 'Julius Sans One', sans-serif;
	color: #11AD9B;

}

.description {
	font-size: 200%; 
	color: #666666;
	font-family: 'Julius Sans One' cursive;
	color: #11AD9B;

}


.picture {
 	width: 100px;
 	height: 100px;
}
